<section class="about">
    <div class="bg-img">
        <div class="container text-section">
            <div class="row pb-4">
                <div class="col-md-6 left">
                    <div class="title">{{ data?.title }}</div>
                    <div class="subtitle">{{ data?.subtitle }} </div>
                    <mc-icons></mc-icons>
                </div>
                <div class="col-md-6 right">
                    {{ data?.text }}
                </div>
            </div>
        </div>
    </div>
</section>












