<header>         
    <!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg  " [containerInside]="false"> -->
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      
        <logo>
          <a class="logo navbar-brand" href="#">
            <img class="img-logo" src="../../assets/logo.jpg">
          </a>
      </logo>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  waves-light" mdbRippleRadius>
                    <a href="#about" class="nav-link">O nas</a>
                </li>
                <!-- <li routerLink="realizations" routerLinkActive="active" class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link">Realizacje</a>
                </li> -->
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a href="#technology" class="nav-link">Technologia</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a href="#offer" class="nav-link">Oferta</a>
                </li>
                <li class="nav-item waves-light" mdbRippleRadius>
                    <a href="#contact" class="nav-link">Kontakt</a>
                </li>
            </ul>
        </links>
  </mdb-navbar>
</header>     
